{% load static %}

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            {% include "dashboard/includes/sub-sections/profile-page-photo.html" %}
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    {% include "dashboard/includes/sub-sections/profile-page-bordered-tabs.html" %}


                    <div class="tab-content pt-2">

                        {% include "dashboard/includes/sub-sections/profile-overview.html" %}

                        {% include "dashboard/includes/sub-sections/profile-edit.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>