{% extends "dashboard/includes/common/page-structure.html" %}

{% load widget_tweaks %}

{% block page-content %}

<section class="section profile">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="profile-edit pt-3">
                        <!-- Profile Edit Form -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for field in form %}
                                <div class="row mb-3">
                                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ field|add_class:"form-control" }}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                        <!-- End Profile Edit Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock page-content %}
