{% load widget_tweaks %}

<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
    <!-- Profile Edit Form -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="row mb-3">

            <label for="{{ form.profile_pic.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ form.profile_pic.label }}</label>
            
            <div class="col-md-8 col-lg-9">
                <img src="{{ user.profile.profile_pic.url }}" alt="Profile" class="rounded-circle">

                <div class="pt-2">
                    <input type="file" name="{{ form.profile_pic.name }}" accept="image/*" id="{{ form.profile_pic.id_for_label }}" class="form-control" />
                </div>
            </div>
        </div>


        {% for field in user_form %}
        
            <div class="row mb-3">

                <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>

                <div class="col-md-8 col-lg-9">
                    {{ field|add_class:"form-control" }}
                </div>

            </div>
        
        {% endfor %}


        {% for field in form %}
            {% if field.name != 'profile_pic' %}
                <div class="row mb-3">
                    <label for="{{ field.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">{{ field.label }}</label>
                    <div class="col-md-8 col-lg-9">
                        {{ field|add_class:"form-control" }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
    <!-- End Profile Edit Form -->
</div>