{% load static %}

<link href="{% static "welcome/css/style.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/about-us.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/back-to-top.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/contact.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/faq.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/footer.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/general-section.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/header.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/hero-section.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/navigation.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/preloader.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/services.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/cta.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/team.css" %}" rel="stylesheet">
<link href="{% static "welcome/css/why-us.css" %}" rel="stylesheet">

